<!--特定のユーザーの特定の日に作成された書籍を検索するためのフォーム(応用課題9b)-->
<div class="my-3">
  <%= form_with url: user_daily_posts_path(user), method: :get, class: "row justify-content-center", local: false do |f| %>
    <div class="col-auto">
      <%= f.date_field :created_at, class: "form-control" %>
    </div>
    <div class="col-auto">
      <%= f.submit "検索" , class: "btn btn-primary"%>
    </div>
  <% end %>
</div>

<!--結果を表示するための空の div 要素を含むHTMLコード(応用課題9b)-->
<div class="daily_posts_table">
</div>